@using System
@using System.Linq
@using System.Threading.Tasks
@inherits MiniRazor.MiniRazorTemplateBase<DiscordChatExporter.Domain.Exporting.Writers.Html.MessageGroupTemplateContext>

@{
    string FormatDate(DateTimeOffset date) => Model.ExportContext.FormatDate(date);

    string FormatMarkdown(string markdown) => Model.FormatMarkdown(markdown);

    string FormatEmbedMarkdown(string markdown) => Model.FormatMarkdown(markdown, false);

    ValueTask<string> ResolveUrlAsync(string url) => Model.ExportContext.ResolveMediaUrlAsync(url);

    var userMember = Model.ExportContext.TryGetMember(Model.MessageGroup.Author.Id);
    var userColor = Model.ExportContext.TryGetUserColor(Model.MessageGroup.Author.Id);
    var userNick = (Model.MessageGroup.Author.IsBot ? Model.MessageGroup.Author.Name : (userMember?.Nick ?? Model.MessageGroup.Author.Name));

    var userColorStyle = userColor != null
        ? $"color: rgb({userColor?.R},{userColor?.G},{userColor?.B})"
        : null;
}

<div class="chatlog__message-group">
    <div class="chatlog__author-avatar-container">
        <img class="chatlog__author-avatar" src="@await ResolveUrlAsync(Model.MessageGroup.Author.AvatarUrl)" alt="Avatar">
    </div>
    <div class="chatlog__messages">
        <span class="chatlog__author-name" title="@Model.MessageGroup.Author.FullName" data-user-id="@Model.MessageGroup.Author.Id" style="@userColorStyle">@userNick</span>

        @if (Model.MessageGroup.Author.IsBot)
        {
            <span class="chatlog__bot-tag">BOT</span>
        }

        <span class="chatlog__timestamp">@FormatDate(Model.MessageGroup.Timestamp)</span>

        @foreach (var message in Model.MessageGroup.Messages)
        {
            var isPinnedStyle = message.IsPinned ? "chatlog__message--pinned" : null;

            <div class="chatlog__message @isPinnedStyle" data-message-id="@message.Id" id="message-@message.Id">
                <div class="chatlog__content">
                    <div class="markdown">@Raw(FormatMarkdown(message.Content)) @if (message.EditedTimestamp != null) {<span class="chatlog__edited-timestamp" title="@FormatDate(message.EditedTimestamp.Value)">(edited)</span>}</div>
                </div>

                @foreach (var attachment in message.Attachments)
                {
                    <div class="chatlog__attachment">
                        @if (attachment.IsSpoiler)
                        {
                            <div class="spoiler spoiler--hidden" onclick="showSpoiler(event, this)">
                                <div class="spoiler-image">
                                    <a href="@await ResolveUrlAsync(attachment.Url)">
                                        <img class="chatlog__attachment-thumbnail" src="@await ResolveUrlAsync(attachment.Url)" alt="Attachment">
                                    </a>
                                </div>
                            </div>
                        }
                        else
                        {
                            @if (attachment.IsImage)
                            {
                                <a href="@await ResolveUrlAsync(attachment.Url)">
                                    @($"Image: {attachment.FileName} ({attachment.FileSize})")
                                    <br/>
                                    <img class="chatlog__attachment-thumbnail" src="@await ResolveUrlAsync(attachment.Url)" alt="Attachment">
                                </a>
                            }
                            else if (attachment.IsVideo)
                            {
                                <a href="@await ResolveUrlAsync(attachment.Url)">
                                    @($"Video: {attachment.FileName} ({attachment.FileSize})")
                                </a>
                                <br/>
                                <video controls class="chatlog__attachment-thumbnail">
                                    <source src="@await ResolveUrlAsync(attachment.Url)" alt="Video Attachment">
                                </video>
                            }
                            else if (attachment.IsAudio)
                            {
                                <a href="@await ResolveUrlAsync(attachment.Url)">
                                    @($"Audio: {attachment.FileName} ({attachment.FileSize})")
                                </a>
                                <br/>
                                <audio controls class="chatlog__attachment-thumbnail" src="@await ResolveUrlAsync(attachment.Url)" alt="Audio Attachment" />
                            }
                            else
                            {
                                <a href="@await ResolveUrlAsync(attachment.Url)">
                                    @($"Attachment: {attachment.FileName} ({attachment.FileSize})")
                                </a>
                            }
                        }
                    </div>
                }

                @foreach (var embed in message.Embeds)
                {
                    <div class="chatlog__embed">
                        @if (embed.Color != null)
                        {
                            var embedColorStyle = $"background-color: rgba({embed.Color?.R},{embed.Color?.G},{embed.Color?.B},{embed.Color?.A})";
                            <div class="chatlog__embed-color-pill" style="@embedColorStyle"></div>
                        }
                        else
                        {
                            <div class="chatlog__embed-color-pill chatlog__embed-color-pill--default"></div>
                        }

                        <div class="chatlog__embed-content-container">
                            <div class="chatlog__embed-content">
                                <div class="chatlog__embed-text">
                                    @if (embed.Author != null)
                                    {
                                        <div class="chatlog__embed-author">
                                            @if (!string.IsNullOrWhiteSpace(embed.Author.IconUrl))
                                            {
                                                <img class="chatlog__embed-author-icon" src="@await ResolveUrlAsync(embed.Author.IconUrl)" alt="Author icon">
                                            }

                                            @if (!string.IsNullOrWhiteSpace(embed.Author.Name))
                                            {
                                                <span class="chatlog__embed-author-name">
                                                    @if (!string.IsNullOrWhiteSpace(embed.Author.Url))
                                                    {
                                                        <a class="chatlog__embed-author-name-link" href="@embed.Author.Url">@embed.Author.Name</a>
                                                    }
                                                    else
                                                    {
                                                        @embed.Author.Name
                                                    }
                                                </span>
                                            }
                                        </div>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(embed.Title))
                                    {
                                        <div class="chatlog__embed-title">
                                            @if (!string.IsNullOrWhiteSpace(embed.Url))
                                            {
                                                <a class="chatlog__embed-title-link" href="@embed.Url">
                                                    <div class="markdown">@Raw(FormatEmbedMarkdown(embed.Title))</div>
                                                </a>
                                            }
                                            else
                                            {
                                                <div class="markdown">@Raw(FormatEmbedMarkdown(embed.Title))</div>
                                            }
                                        </div>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(embed.Description))
                                    {
                                        <div class="chatlog__embed-description">
                                            <div class="markdown">@Raw(FormatEmbedMarkdown(embed.Description))</div>
                                        </div>
                                    }

                                    @if (embed.Fields.Any())
                                    {
                                        <div class="chatlog__embed-fields">
                                            @foreach (var field in embed.Fields)
                                            {
                                                var isInlineStyle = field.IsInline ? "chatlog__embed-field--inline" : null;

                                                <div class="chatlog__embed-field @isInlineStyle">
                                                    @if (!string.IsNullOrWhiteSpace(field.Name))
                                                    {
                                                        <div class="chatlog__embed-field-name">
                                                            <div class="markdown">@Raw(FormatEmbedMarkdown(field.Name))</div>
                                                        </div>
                                                    }

                                                    @if (!string.IsNullOrWhiteSpace(field.Value))
                                                    {
                                                        <div class="chatlog__embed-field-value">
                                                            <div class="markdown">@Raw(FormatEmbedMarkdown(field.Value))</div>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>

                                @if (embed.Thumbnail != null)
                                {
                                    <div class="chatlog__embed-thumbnail-container">
                                        <a class="chatlog__embed-thumbnail-link" href="@await ResolveUrlAsync(embed.Thumbnail.Url)">
                                            <img class="chatlog__embed-thumbnail" src="@await ResolveUrlAsync(embed.Thumbnail.Url)" alt="Thumbnail">
                                        </a>
                                    </div>
                                }
                            </div>

                            @if (embed.Image != null)
                            {
                                <div class="chatlog__embed-image-container">
                                    <a class="chatlog__embed-image-link" href="@await ResolveUrlAsync(embed.Image.Url)">
                                        <img class="chatlog__embed-image" src="@await ResolveUrlAsync(embed.Image.Url)" alt="Image">
                                    </a>
                                </div>
                            }

                            @if (embed.Footer != null || embed.Timestamp != null)
                            {
                                <div class="chatlog__embed-footer">
                                    @if (!string.IsNullOrWhiteSpace(embed.Footer?.IconUrl))
                                    {
                                        <img class="chatlog__embed-footer-icon" src="@await ResolveUrlAsync(embed.Footer.IconUrl)" alt="Footer icon">
                                    }

                                        <span class="chatlog__embed-footer-text">
                                            @if (!string.IsNullOrWhiteSpace(embed.Footer?.Text))
                                            {
                                                @embed.Footer.Text
                                            }

                                            @if (!string.IsNullOrWhiteSpace(embed.Footer?.Text) && embed.Timestamp != null)
                                            {
                                                @(" • ")
                                            }

                                            @if (embed.Timestamp != null)
                                            {
                                                @FormatDate(embed.Timestamp.Value)
                                            }
                                        </span>
                                </div>
                            }
                        </div>
                    </div>
                }

                @if (message.Reactions.Any())
                {
                    <div class="chatlog__reactions">
                        @foreach (var reaction in message.Reactions)
                        {
                            <div class="chatlog__reaction">
                                <img class="emoji emoji--small" alt="@reaction.Emoji.Name" title="@reaction.Emoji.Name" src="@await ResolveUrlAsync(reaction.Emoji.ImageUrl)">
                                <span class="chatlog__reaction-count">@reaction.Count</span>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>